@media(max-width:580px){
    .main{
        padding: 0px;
        font-size: 11px;

    
    &_contacto{
        padding: 5px;
    }

    .main_form{
        padding: 10px;
        margin: 10px;
    }
    }
}